/* 全ページに影響がある、headerに影響があるcss */

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #2ad947;
background-image: radial-gradient(#444cf7 0.5px, #2ad947 0.5px);
background-size: 10px 10px;
    border-bottom:5px solid #2a6f41;
    border-left:5px solid #2a6f41;
    border-right:5px solid #2a6f41;
    border-radius: 5px;
}

h4{
    font-weight: bold;
}

.left{
    display: flex;
    align-items: flex-end;
}

.left a {
    color: #212529;
    text-decoration: underline;
    display: block;
    margin-bottom: 5px;
    
}

.left a:hover{
    opacity: .8;
}

.left a:first-child{
    padding-left: 30px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.create{
 margin-right: 25px;
}


.login1{
    margin-right: 30px;
}


header img{
    display: block;
    margin-top: 5px;
    width:300px;
     height:85px; 
    box-sizing: border-box;
    object-fit: cover;
    mix-blend-mode: multiply;
    border-radius: 5px;
}



#key{
    object-fit: cover;
    width: 400px;
    height: 300px;
}
.create a{
    color:#fff;
    font-weight: bold;
}

.login1 a{
    color:#303030;
    font-weight: bold;
}

.create{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ffaf26;
}

.login1{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ccc;
}

.btn{
    padding:6px 12px;
}

 


