@charset "utf8";


*{
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}



body{
     position:relative;
     min-height:100%;
     margin: 0;
     padding:0;
 }
    
html,
body
.all{
height: 100%;
}


i{
    font-size: 40px;
    color: #393737;
}

.right{
    cursor: pointer;
}

#out{
    background: #d7d7da;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

#out,#out option{
    font-weight: bold;
    color: #393737;
    cursor: pointer;
}

img{
    cursor: pointer;
}



/*wrapper*/

.mainText{
  margin-bottom:30px;
}

.wrapper-body{
  padding:48px 24px ;
}
.wrapper.btn{
  border-color: transparent;
  color: #fff;
}

.new {
  background-color: #3e8ed0;
  display: block;
  width: 10rem;
  margin: 0 auto 10px;
  
}
.login{
  background-color:#ffaf26;
  display: block;
  width: 10rem;
  margin: 0 auto 10px;
}

.login:hover{
  opacity: .8;
}


   header{
width: 95%;
  position:fixed;
left: 0;
top: 0;
z-index:10;
margin-left:30px;
background-color: #0bef7c;
} 


.wrapper{
  width: 70%;
height: 40rem;
padding-top: 70px;
text-align: center;
margin: 70px auto 0;
}


.kakomi{
  width: 70%;
  height: 250px;
  background: #EFE3C6;
  margin: 0 auto;
  border-radius:10px;
  line-height: 1.5;
  padding-top: 20px;
  }


h1{
  font-weight: bold;
  font-size:37px;
}


h3{
color:#fff;
opacity: .9;
font-size:1.3rem;
font-weight:bold;
background-color: #2ad947;
background-image: radial-gradient(#444cf7 0.5px, #2ad947 0.5px);
background-size: 10px 10px;
width: 70%;
height: 50px;
line-height: 2.3;
border:1px solid transparent;
border-radius:8px;
margin: 0 auto;
position: relative;
border-bottom:none;
}

.secondh3{
margin-top: 40px;
}


.sankaku{
position:absolute;
display:inline-block;
border-style: solid;
border-width: 10px 0 10px 12px;
border-color: transparent transparent transparent #333;
top: 40%;
left: 15%;
margin-top: -6px;
}

h4{
  font-weight: normal;
  margin-bottom: 30px;
  font-size:20px;
}

.back{
margin-top: 50px;
}

.footer{
text-align: center;
width: 95%;
background: #d3b080;
margin: 100px auto;

border:5px solid #6d3601;
border-bottom: none;
border-radius:5px;
}


.login a{
  display: block;
}

.text{
  font-size: 0.7rem;
  background: #0091ff;
  color: #fff;
  width: 135px;
  margin: 20px auto 0;
}


.inner{
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
  margin-top: 15px;
}





#key{
  object-fit: cover;
  width: 390px;
  height: 290px;
}

.summary{
  margin-top: 150px;
}


/* カードcss */

.card-list{
  margin-top: 200px;
}


.card{
width: 260px;
margin: 0 auto;
text-align: center;
cursor: pointer;
}

.card .foot:active{
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #f2f2f2;
}


.card .head{
  padding-top: 20px;
  height: 150px;
}

.card img{
  border-radius: 10px;
  width: 100%;
  height: 150px;
  vertical-align: bottom;
}

.card img:active{
 border-radius: 10px; 
 border: 2px solid #ccc;
 background: #f2f2f2;

}

.card .foot{
  border: 2px solid transparent;
  border-radius: 3px;
}

.card-title{
  font-size: 16px;
  font-weight: bold;
  margin-top: 11px;
  padding-left: 5px;
  }

.card-title::before{
  content:'【';
}

.card-title::after{
  content:'】';
}

.card-text{
  color: #212121;
  font-size: 14px;
  height: 2rem;
 margin-left: 15px;
}

.card span{
  display: block;
  font-size:12px;
}

.user{
  font-weight: bold;
}



.row{
  display: flex;
  width: 100%;

}

.row:nth-child(1){
  padding-top: 50px;
  margin-top: 30px;
}

.row:last-child{
  padding-bottom: 45px;
  }

  .secondh3{
    margin-bottom: 30px;
  }

  .increase {
    margin-top: 50px;
    color: #363636;
    font-weight: 700;
    text-align-last: left;
}


.sakusei {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #363636;
  font-weight: 700;
  margin-top: 10px;
}

.sakusei1{
  display: flex;
  margin: 0 auto;

}


#textarea {
    width: 480px;
    border:none;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    resize: none;
}

#num{
    border:none;
    border:1px solid #dbdbdb;
}

.top{
  text-align: center;
  background-color: #00d1b2;
  border-color: transparent;
  padding:7px 15px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 38px auto 50px;
  width: 130px;
}

.top a{
  color: #fff;
}